.box{
    height: 150px;
    width: 50px;
    background-color: black;
    margin-left: 100px;
    margin: 0 auto;

}

.semaforo{
    height: 500px;
    width: 250px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}

.red{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 100%;
}

.yellow{
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 100%;
}

.green{
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius: 100%;
}

.led {
    box-shadow: 0 0 20px rgb(253, 253, 253);
    
    
}